/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    background-color: black;
    margin: 0;
    padding-top: 100px;
    font-family: 'Oxanium', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --cor-principal: #5C1D6B;
    --cor-secundaria: #FDD602;
    --cor-terciaria: #FFA64C;
    --cor-quartenaria: #FF3179;
    --cor-quintenaria: #B41EB2;
    --cor-sextanaria: #38A6F3;
}


/* -------------------------- HEADER DO PROJETO -------------------------------- */
.nav-contents {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar {
    font-size: 20px;
    background-color: white;
}

.navbar-brand {
    font-size: 40px;
   
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
}


/* -------------------------- MODAL LOGIN E CADASTRO ---------------------------- */

.modal-header.unactive, .modal-body.unactive, .modal-footer.unactive {
    display: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-body button{
    width: 50%;
    align-self: center;
    background-color: white;
    border: none;
    cursor: default;
}

.modal-body span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*-------------- BANNER INDEX --------------*/

.banner {
    width: 100%;
}
.banner .conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--cor-principal);
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position:10% center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 300px;
    width: 100%;
}

.banner .conteudo h1{
    font-size: 40px;
    background-color: black;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

/*-------------- CONTEÚDO INDEX --------------*/