/* Adicionar aqui toda a estilização criada para sua aplicação. */

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    padding-top: 80px;
    font-family: 'Oxanium', sans-serif;
}

:root {
    --cor-principal: #5C1D6B;
    --cor-secundaria: #FDD602;
    --cor-terciaria: #FFA64C;
    --cor-quartenaria: #FF3179;
    --cor-quintenaria: #B41EB2;
    --cor-sextanaria: #38A6F3;
}


/* -------------------------- HEADER DO PROJETO -------------------------------- */
.nav-contents {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar {
    font-size: 20px;
    background-color: white;
}

.navbar-brand {
    font-size: 40px;

}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
}

.dropdown-menu[data-bs-popper] {
    left: -90px;
}

/* -------------------------- MODAL LOGIN E CADASTRO ---------------------------- */

.modal-header.unactive,
.modal-body.unactive,
.modal-footer.unactive {
    display: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-body button {
    width: 50%;
    align-self: center;
    background-color: white;
    border: none;
    cursor: default;
}

.modal-body span {
    color: var(--cor-principal);
    text-decoration: underline;
    cursor: pointer;
}

#span_retorno_login, #span_retorno_cadastro {
    text-align: center;
    text-decoration: none;
    cursor:text;
    color: black;
    font-weight: bold;
}

.modal-footer .btn-principal {
    background-color: black;
    color: white;
}

.modal-footer .btn-principal:hover {
    background-color: #1A1A1A;
}

.modal-footer .btn-fechar {
    border: 1px solid black
}

.modal-footer .btn-fechar:hover {
    background-color: #F2F2F2;
}
/*-------------- BANNER INDEX --------------*/

.banner {
    width: 100%;
}

.banner .conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--cor-sextanaria);
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 450px;
    width: 100%;
}

.banner .conteudo h1 {
    font-size: 40px;
    background-color: black;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}


/*-------------- CONTEÚDO INDEX --------------*/

.container .conteudo {
    display: flex;
    flex-direction: row;
}

.conteudo .div-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 0 0;
    padding: 0 10px 0 10px;
    width: 100%;
    color: white;
    text-align: center;
}

.conteudo .div-texto .span-destaque {
    font-size: 25px;
    font-weight: bold;
}

.conteudo .div-imagem {
    background-color: var(--cor-sextanaria);
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    width: 100%;
}

.conteudo #imagem-oque {
    background-image: url(../assets/dj-pic.jpg);
}

.conteudo #imagem-pessoas {
    background-image: url(../assets/dj-pic.jpg);
}

.btn-sobre {
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 8px;
    margin: 0 0 10px 0;
}

.btn-sobre i {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

/*-------------- CONTEÚDO SOBRE --------------*/
.conteudo #imagem-sobre {
    background-image: url(../assets/dj-pic-woman.jpg);
    background-position: center bottom;
    height: 300px;
}

.conteudo #imagem-sobre2 {
    background-image: url(../assets/dj-pic-woman.jpg);
    background-position: center bottom;
    height: 300px;
}

/* ------------------ FEED --------------------- */
.div-modal-feed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0 50px 100px 0;
    pointer-events: none;
}

.div-acoes {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
    pointer-events: auto;
}

.div-acoes .botao {
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: white;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: width, opacity, display, border-radius, font-size;
    border: 1px solid black;

    .texto {
        opacity: 0;
        font-size: 0;
        width: 0;
    }
}

.div-acoes .botao:hover {
    display: flex;
    width: 150px;
    border-radius: 20px;
    padding: 5px;
    
    .texto {
        font-size: 25px;
        opacity: 1;
        width: 70px;
    }
}

.div-acoes .botao i {
    color: black;
    font-size: 40px;
}

.div-feed {
    padding: 50px;
}

.div-publicacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 20px 0;
    color: black;
    background-color: white;
}

.div-cabecalho-publicacao {
    display: flex;
    align-items: flex-start;
    width: 80%;
}

.div-cabecalho-publicacao a {
    text-decoration: none;
    color: #B41EB2;
}
.div-conteudo-publicacao {
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}

.div-titulo {
    width: 100%;
}

.div-interagir {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
}

.div-comentario {
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    width: 90%;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.div-comentario i {
    font-size: 30px;
}

.div-comentario i:hover {
    color: #5C1D6B;
}

.div-comentario input {
    width: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: width;
}

.div-icones {
    width: 10%;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
}

.icons-interagir {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}

.escondido {
    display:none;
}

.span-curtidas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.icons-interagir .bi.bi-heart:hover {
    color:red;
}

.icons-interagir .bi.bi-heart-fill {
    color:red;
}

.icons-interagir i {
    cursor: pointer;
    font-size: 25px;
}

.comentarios-interagir {
    cursor: pointer;
    color: grey;
    text-decoration: underline;
}

.div-comentario-lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black ;
}

.div-comentarios {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*------------ PERFIL ----------------*/
.container {
    height: 100%;
}
.div-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100%;
}

.div-resumo {
    display: flex;
    flex-direction: column;
}

.div-conteudo-perfil {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    padding: 20px 10px;
    color: black;
    background-color: white;
}

.div-conteudo-perfil .div-resumo {
    width: 100%;
    margin-left: 20px;
    padding: 10px;
}

.div-bio {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    align-items: flex-start;
    width: 100%;
    height: 200px;
}

#manipular_bio {
    display:none;
}

.div-resumo-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.div-resumo-cabecalho span {
    font-size: 25px;
    cursor: pointer;
}
.div-bio h1 {
    font-size: 30px;
}

.div-bio-conteudo textarea {
    background-color: white;
    height: 80%;
    width: 100%;
    overflow: hidden;
    align-self: flex-start;
    border:none;
    resize: none;
}

.div-bio-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.div-resumo button {
    align-self: flex-end;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: width, opacity, height, background-color, font-size;
}

.div-resumo button:hover {
    background-color: grey;
    color: white;
}

.div-secoes-perfil {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin: 20px;
    color: black;
    border-radius: 500px;
    overflow: hidden;
}

.btn-alternar {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
}


.btn-alternar.selecionado {
    background-color: #5C1D6B;
    color: white;
}

.secoes {
    width: 100%;
}

#div_informacoes {
    display: none;
}

/*--------DASH----------*/

.div-detalhes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
}

.div-conteudo-detalhes {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    display: flex;
    background-color: white;
    color: black;
}

.div-dashboard {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 20px;
}

.div-kpi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-kpi .div-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
}

.div-kpi .div-card hr {
    width: 100%;
}

.div-corpo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.div-corpo .div-infos {
    width: 50%;
}

.div-infos.metrica {
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-infos.metrica span {
    margin-bottom: 10px;
}